[submodule "delrus/modules/melatonin_inspector"]
	path = delrus/modules/melatonin_inspector
	url = git@github.com:sudara/melatonin_inspector.git
[submodule "JUCE"]
	path = JUCE
	url = git@github.com:juce-framework/JUCE.git
